* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration:none !important;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    font-size: 16px; 
    line-height: 1.6; 
}

header {
    text-align: center;
    padding: 20px;
    background-color: #67e5144f;
}

.logo-container {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100%;
    height: auto;
}


h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px; 
    margin-bottom: 15px; 
}

.main-content {
    background-color: #67e5144f;
    padding: 100px;
    text-align: center;
}

#button-contactus{
    color: #e9ecef;
}
button {
    background-color: #0f9fa8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #72d35f; 
}

.tour-form {
    padding: 50px;
    text-align: center;
    background-color: #d0f7b6;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales a {
    margin: 0 10px; 
}

.redes-sociales img {
    width: 30px; 
}

/*testimonios*/

.testimonios {
    background-color: #d0f7b6;
    padding: 50px;
}

.container-testimonios h2{
    text-align: center;
    padding-top: 40px;
}

.container-card-testimonio{
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
}

.card-testimonio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-imagen{
    height: 5rem;
    width: 5rem;
}

.card-imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
}

.card {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.1s ease-in-out;
}

.card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.img-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
}

.card-text {
    text-align: center;
    font-size: 16px;
    padding-top: 1rem;
}

.card-body{
    box-shadow: none;
}

.faq-section {
    background-color: #ffff;
    padding: 50px 0;

}

.faq-section h2{
    text-align: center;
    margin-bottom: 50px;
}
.accordion-button {
    background-color: #007bff;
    color: #fff;
}

.accordion-button:not(.collapsed) {
    background-color: #0056b3;
}

.accordion-body {
    background-color: #fff;
    color: #333;
}

.testimonios,
.faq-section {
    color: #333;
}

/*tours*/

.carousel-item img {
    height: 550px; 
    object-fit: cover; 
    object-position: center; 
    padding: 40px;
}

.slide-title{
    align-items: center;
}

.title-tours{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;

}

.tours-section {
    text-align: center;
    padding: 50px 0; 
}

.tour-card:hover {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

.tour-image {
    overflow: hidden;
    height: 350px; 
}

.tour-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black !important;
    display: flex;
    align-items: center;
}

.card-title h5{
    margin: 30px;
}

.carousel-container-cards {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap; 
}

.cards-tour {
    flex: 0 0 calc(100% / 3); 
    margin: 5px;
    padding: 5px;
    height: 500px;
}

@media (max-width: 768px) {
    .cards-tour {
        flex: 0 0 calc(100% / 2);
    }
}

@media (max-width: 480px) {
    .cards-tour {
        flex: 0 0 calc(100%);
    }

    .main-content {

        padding: 50px;

    }

}

/* Estilos para la barra de desplazamiento personalizada */
.section-carrusel-2{
    margin-top: 50px;
    scrollbar-width: none;
}
.section-carrusel-2::-webkit-scrollbar {
    width: 10px; 
}

.section-carrusel-2::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.section-carrusel-2::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}

.section-carrusel-2::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.mini-icono{
    width: 5%;
    height: 5%;
}


/*reviews*/

.customer-reviews {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.review-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-content p {
    font-size: 16px; 
    margin-bottom: 10px; 
}

.review-author {
    display: flex;
    align-items: center;
}

.review-author img {
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    margin-right: 10px; 
}

.author-info h6 {
    margin: 0;
}

.author-info p {
    margin: 0;
    color: #888;
    font-style: italic;
}

.section-form-reviews {
    background-color: #d0f7b6;
    padding: 5%;
}

/*contacto*/
.contact-section {
    text-align: center;
    background-color: #3333332b;
    padding: 50px 0;
}

.contact-options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-option {
    margin: 20px;
    transition: transform 0.3s ease;
}

.contact-option img {
    width: 60px; 
    height: 60px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}


.contact-option.whatsapp:hover {
    transform: scale(1.3);

}

.contact-option.gmail:hover {
    transform: scale(1.3);

}
